.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.Button {
  margin: 10pt;
}

.ButtonsWrapper {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.Title {
  margin: 10pt;
}

.Description {
  flex: 1;
  overflow-y: scroll;
}